doctype html
html(lang="ru")
  head
    title 
    meta(charset="utf-8")
    meta(name="description",  content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="noindex")
    link(rel="preload",  href="build/css/critical.min.css")
    link(rel="stylesheet",  href="build/css/vendor.min.css")
    link(rel="stylesheet",  href="build/css/style.min.css")
    link(rel="stylesheet",  href="build/css/adaptive.min.css")
  body
    block content