mixin image(link, alt="")
  -var base = 'assets/img/';
  picture 
    -var link_rep = link.replace(/.jpeg|.png|.jpg/g,'');
    source(srcset=base+link+'.webp', type="image/")
    img(src=base+link, alt=alt)
mixin gellary(imgs)
  .partners-gallery.block
    .partners-gallery__slider.owl-carousel
      each val, key in imgs
        .single-photo
          img(src=val)